@import url("https://maple-ui.netlify.app/CSS/base.css");
:root{
    --ecom-bg-dark : #d6d3d1;
    --ecom-bg-light: rgb(238, 238, 238, 1);
    --ecom-shadow: 0 3px 6px var( --ecom-bg-dark);
    --ecom-btn-text-color: #111827;
}
.App{
    display: flex;
    background-color: #121212;
    min-height: 100vh;
}
.navbar{
    padding: 1rem;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
    background-color:  #0B0B0C;
    /* #121212 */
    /* #0B0B0C */
    width: 10rem;
}
.nav-pill{
    color: white;
    width: 100%;
    font-size: 1.5rem;
    gap: 0.5rem;
    align-items: center; 
}
.nav-pill:hover{
    color: gray;
}
.topbar{
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
}
.main-area{
    flex-direction: column;
    width: 100%;
}
.topbarBtn{
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: var(--paragraph-color);
    background-color: #121212;
    border: 3px solid var(--section-background-color);
}
.banner{
    display: flex;
    align-items: flex-start;
    padding: 2rem;
    gap: 2rem;
}
.lightcolor{
    color: var(--headline-color);
}
.lightbg{
    background-color: var(--paragraph-color);
}
.banner-img{
    border-radius: 1rem;
    width: 40rem;
}
.banner-side{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.bannerbtn{
    padding: 1rem;
    border-radius: 1rem;
}
.paraColor{
    color: var(--section-background-color)
}
.category-div{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.categories-item{
    cursor: pointer;
    width: 20rem;
    padding: 1rem;
    border: 5px solid var(--section-background-color);
    border-radius: 1rem;
}
.category-section{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.gap-m{
    gap: 1rem;
}
.video-card{
    display: flex;
    flex-direction: column;
    max-width:20rem;
}
.video-card-playlist{
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
}
.position-relative{
    position: relative;
}
.gap-lg{
    gap: 3rem;
}
.padding-m{
    padding: 1rem;
}
.padding-lg{
    padding: 2rem;
}
.padding-sm{
    padding: 0.5rem;
}
.filterBtn{
    border-radius: 1rem;
    background-color: var(--section-background-color)
}
.video-title-font{
    font-size: 1.25rem;
}
.video-section{
    justify-content: space-around;
    align-items: baseline;
}
.justify-spacebetween{
    justify-content: space-between;
}
.poitner-cursor{
    cursor: pointer;
}
.playlist-card-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.playlist-modal-wrap{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}
.playlist-modal{
    border-radius: 0.5rem;
    border: 3px solid var(--paragraph-color);
    background-color: #0B0B0C;
    width: 20rem;
    height: fit-content;
    padding: 1rem;
}
.playlist-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
    border-radius: 1rem;
    border: 5px solid var(--section-background-color);
}
.playlist-header{
    align-items: center;
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
/* .playlist-card-skin{
} */
.modal-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.display-none{
    display: none;
}
@media only screen and (max-width: 1025px) {
    .banner{
        flex-wrap: wrap;
    }
    .App{
        flex-direction: column;
    }
    .navbar{
        width: 100%;
        flex-direction: row;
    }
  }